@import "_config";
@import "_menu";

* {
  box-sizing: border-box;
  /*makes sure that the sizing doesn't get messed up by padding px*/
}

#about {
  .text {
    width: 70%;
    margin: 0 auto;
  }
}
.lg-heading {
  font-size: 60px;
  margin: 0;
  padding: 0;
}

body {
  @include background;
  background: $primary-color;
  color: set-color-text($primary-color);
  height: 100%;
  margin: 0px;
  line-height: 1.5;
  font-family: "Segoe UI", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  height: 100vh;
  &#home {
    //will never have scroll bars on main page
    overflow: hidden;
    h1 {
      margin-top: 10vh;
    }
  }
  //a is a type not a class so no . at front
  .icons {
    position: fixed;
    display: flex;
    flex-direction: row;
    margin-left: 13%;
    a {
      margin-top: 53vh;

      color: black;
      padding: 5px;

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }
}
.project-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "intro intro"
    "job1 job2"
    "job3 job4";
  grid-template-columns: repeat(2, 1fr);
}
.project-img {
  grid-area: img;
}
.info {
  grid-area: intro;
}
.p1 {
  grid-area: job1;
}
.p2 {
  grid-area: job2;
}
.p3 {
  grid-area: job3;
}
.p4 {
  grid-area: job4;
}
.project {
  padding: 2rem;
  background-color: lighten($primary-color, 5);
  border-bottom: $secondary-color 2px solid;
  margin-bottom: 30px;
  img {
    width: 100%;
    border: 3px white solid;
    margin-top: 20px;
    height: 30vh;
  }
  &:hover {
    color: $secondary-color;
    // border-color: $secondary-color;
    @include easeOut;
  }
}
#about {
  margin: 0 auto;
  width: 80%;
  .entry {
    .blog-img {
      height: 70vh;
      width: 100%;
    }
    padding: 2rem;
    background: white;
    color: black;
    text-align: center;
    margin: 0;
    padding: 0;
  }
}

.p {
  color: black;
  text-align: center;
}
.back-btn,
.next-btn {
  background: rgb(221, 221, 221);
  padding: 20px;
}
@import "mobile";
